* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:rgb(208, 241, 160);
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
}

.card {
  border: 10px solid #c13e3e;
  border-radius: 10px;
  background-color: pink;
  margin: 20px;
  height: 300px;
  width: 200px;
}

.parent {

  display: flex;
  flex-wrap: wrap;
  
}