body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;

    padding: 50px;
    border:solid 3px black;
    background-color: lightblue;


}

.dabba
{
    background-color: lightgreen;
    border:solid 3px black;
    font-family: Arial, sans-serif;
    justify-content: center;
}

